body {
  margin: 0px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#main {
  margin: 20px;
}

#image {
  width: 224px;
  height: 224px;
  border: 1px solid;
}

#results {
  margin-top: 10px;
}
