core/examples/MNIST_test.txt filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/reshape1 filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/MNIST_test.txt filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/add2 filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/conv1 filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/conv2 filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/input7 filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/add1 filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/add3 filter=lfs diff=lfs merge=lfs -text
interpreter/examples/mnist/input2 filter=lfs diff=lfs merge=lfs -text
