name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  Linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Download large files
      working-directory: ./models
      run: ./download.sh CI
    - name: Add llvm-tools-preview
      run: rustup component add llvm-tools-preview
    - name: Install grcov
      run: cargo install grcov --locked
    - name: Install dependencies
      run: sudo apt install libomp-dev xz-utils protobuf-compiler
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Free up disk
      run: sudo rm -rf /usr/local/lib/android || true
    - name: Test (Rust)
      run: |
        cargo test --release
        ALTIUS_ENABLE_CLIF=1 cargo test --release
      env:
        RUSTFLAGS: -Cinstrument-coverage
        LLVM_PROFILE_FILE: coverage-%p-%m.profraw
    - name: Test (Python)
      working-directory: ./crates/altius_py
      run: ./test.sh build
      env:
        RUSTFLAGS: -Cinstrument-coverage
        LLVM_PROFILE_FILE: coverage-%p-%m.profraw
    - name: Run examples
      run: |
        (cd crates/altius_py && uv run python deit.py)
        # (cd crates/altius_py && uv run python resnet50.py)
        (cd crates/altius_py && uv run python export_vit.py)
        cargo run --release --example mnist
        cargo run --release --example mobilenet
        cargo run --release --example deit
        cargo run --release --example mnist_cpu
        cargo run --release --example mobilenet_cpu
        cargo run --release --example deit_cpu
        cargo run --release --example vit_cpu
        cargo run --release --example vit
        cargo run --release --example infer -- ./models/mnist-8.onnx
      env:
        RUSTFLAGS: -Cinstrument-coverage
        LLVM_PROFILE_FILE: coverage-%p-%m.profraw
    - name: Submit coverage
      run: |
        mkdir -p /tmp/cov/
        cp -rf ./target/release/* /tmp/cov/
        grcov . --binary-path /tmp/cov/ -s . -t cobertura --branch --ignore-not-existing --ignore "*cargo*" -o coverage.xml
        bash <(curl -s https://codecov.io/bash)
      env:
        RUSTFLAGS: -Cinstrument-coverage
        LLVM_PROFILE_FILE: coverage-%p-%m.profraw

  macOS:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Download large files
      working-directory: ./models
      run: ./download.sh CI
    - name: Install dependencies
      run: |
        brew install llvm libomp protobuf coreutils
        echo "PATH=$(brew --prefix llvm)/bin:${PATH}" >> $GITHUB_ENV
        echo "CPPFLAGS=-I$(brew --prefix libomp)/include" >> $GITHUB_ENV
        echo "LDFLAGS=-L$(brew --prefix libomp)/lib" >> $GITHUB_ENV
    - name: Install uv
      uses: astral-sh/setup-uv@v6
    - name: Setup Python environment
      working-directory: ./crates/altius_py
      run: uv sync
    - name: Test (Rust)
      run: |
        cargo test --release
        ALTIUS_ENABLE_CLIF=1 cargo test --release
      env:
        RUSTFLAGS: "-C target-cpu=apple-m1"
        PYO3_PYTHON: ${{ github.workspace }}/crates/altius_py/.venv/bin/python
    - name: Test (Python)
      working-directory: ./crates/altius_py
      run: ./test.sh build
      env:
        RUSTFLAGS: "-C target-cpu=apple-m1"
        PYO3_PYTHON: ${{ github.workspace }}/crates/altius_py/.venv/bin/python
    - name: Run examples
      run: |
        (cd crates/altius_py && uv run python deit.py)
        (cd crates/altius_py && uv run python export_vit.py)
        cargo run --release --example mnist
        cargo run --release --example mobilenet
        cargo run --release --example deit
        cargo run --release --example mnist_cpu
        cargo run --release --example mobilenet_cpu
        cargo run --release --example deit_cpu
        cargo run --release --example vit_cpu
        cargo run --release --example vit
        cargo run --release --example infer -- ./models/mnist-8.onnx
      env:
        RUSTFLAGS: "-C target-cpu=apple-m1"
        PYO3_PYTHON: ${{ github.workspace }}/crates/altius_py/.venv/bin/python
